/src/*.aux
/src/*.log
/src/*.bbl
/src/*.out
/src/*.bcf
/src/*.run.xml
/src/*.blg
/src/*.synctex.gz
/src/*.fdb_latexmk
/src/*.fls
/src/*.toc
/src/*.glg
/src/*.glo
/src/*.gls
/src/*.ist
/src/*.pdf
/src/*~
/src/*.bak
/src/*.tmp
/src/*.swp
/src/*.swo
/src/*.DS_Store
*.DS_Store
